*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.father{
    width: 100%;
    display: flex;
}
.child{
    width: 100%;
    
}
.child h1{
    margin-left: 20px;
    font-size: 60px;
}
.child-header ul  {
    display: flex;
    text-align: center;
    gap: 20px;  
}
.child-body img{
    width: 100%;
   
}

